.head-create-todo {
    margin: 30px 30px 30px 0;
}

.form-head {
    display: flex; 
    flex-direction: column;
}

.input_text {
    margin-bottom: 15px;
}

.form-input {
    width: 200px;
}

.form-button {
    background-color: #cccccc;
    border-radius: 4px;
    width: 200px; 
    margin-top: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.active-button {
    background-color: #708090 !important;
    color: #ffffff !important;
}

.errors {
    width: 300px;
}
