<h1>CREATE TODO FORM</h1>
<div class="head-create-todo">
  <form class="form-head" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="input_text">
      <mat-form-field appereance="standart" class="form-input">
        <mat-label>Название задачи</mat-label>
        <input matInput type="text" formControlName="title"/>
        <mat-error class="errors">
        ТЕКСТ ЗАДАЧИ ВВЕДЕН НЕПРАВИЛЬНО
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input_text">
      <mat-form-field appereance="standart" class="form-input">
        <mat-label>Автор задачи</mat-label>
        <input matInput type="text" formControlName="userId"/>
        <mat-error class="errors">
        ТОЛЬКО ЧИСЛОВЫЕ ЗНАЧЕНИЯ, ОТ 11 И ВЫШЕ
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appereance="standart" class="form-input">
        <mat-label>Задача завершена?</mat-label>
        <input matInput type="text" formControlName="completed"/>
        <mat-error class="errors">
        ВВЕДИТЕ ТОЛЬКО "ДА" ИЛИ "НЕТ"
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-stroked-button class="form-button" [ngClass]="{ 'active-button': form.valid }" [disabled]="!form.valid" >
      + ADD TODO
    </button>
  </form>
</div>
