.head-create-user {
    margin: 30px 30px 30px 0;
}

.form-head {
    display: flex; 
    flex-direction: column;
}

.form-input {
    width: 200px;
}

.form-button {
    width: 150px; 
    margin-top: 20px;
}

.alert-danger {
    color: red;
}