<h1>CREATE USER FORM</h1>
<div class="head-create-user">
  <form class="form-head" [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="input_text">
      <mat-form-field appereance="standart" class="form-input">
        <mat-label>Имя</mat-label>
        <input matInput type="text" formControlName="name"/>
        <mat-error class="errors">
        ИМЯ ВВЕДЕНO НЕПРАВИЛЬНО
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input_text">
      <mat-form-field appereance="standart" class="form-input">
        <mat-label>Электронная почта</mat-label>
        <input matInput type="text" formControlName="email"/>
        <mat-error class="errors">
        EMAIL ВВЕДЕН НЕПРАВИЛЬНО
        </mat-error>
      </mat-form-field>
    </div>
    <div class="input_text">
      <mat-form-field appereance="standart" class="form-input">
        <mat-label>Веб-сайт</mat-label>
        <input matInput type="text" formControlName="website"/>
        <mat-error class="errors">
        WEBSITE ВВЕДЕН НЕПРАВИЛЬНО
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appereance="standart" class="form-input">
        <mat-label>Имя компании</mat-label>
        <input matInput type="text" formControlName="companyName"/>
        <mat-error class="errors">
        ИМЯ КОМПАНИИ ВВЕДЕНО НЕПРАВИЛЬНО
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-stroked-button class="form-button" [ngClass]="{ 'active-button': form.valid }" [disabled]="!form.valid" >
      + ADD USER
    </button>
  </form>
</div>

