.create-user {
    margin: 10px 0 0 10px;
}

.form-button {
    background-color: rgb(10, 10, 125);
    border-color: rgb(10, 10, 125);
    border-width: 3px;
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255);
    border-radius: 4px;
    width: 200px; 
    transition: background-color 0.3s ease, color 0.3s ease;
    color: white !important;
    padding-top: 20px;
    padding-bottom: 20px;
}


