.usercomponent-text{
    text-align: center;
}

.users-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px; 
    padding: 10px;
}

.users-boxs{
    width: 210px;
    height: 350px;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
}
