.delete{
    border-radius: 54px;
    padding-top: 14px;
    padding-right: 28px;
    padding-bottom: 14px;
    padding-left: 28px;
    border-width: 1px;
    background: transparent;
    border-color: #F0BA4E;
    cursor: pointer;
    margin-top: 20px;
}