<div class="items">
  <mat-icon matPrefix>person</mat-icon>
  <p>
    <strong>Имя:</strong> 
    {{ user.name | customUpperCase }}
  </p>
</div>

<div class="items">
  <mat-icon matPrefix>email</mat-icon>
  <p>
    <strong>Email:</strong> 
    {{ user.email | customUpperCase }}
  </p>
</div>

<div class="items">
  <mat-icon matPrefix>language</mat-icon>
  <p>
    <strong>Сайт:</strong> 
    {{ user.website | customUpperCase }}
  </p>
</div>

<div class="items">
  <mat-icon matPrefix>business</mat-icon>
  <p>
    <strong>Компания:</strong> 
    {{ user.company.name }}
  </p>
</div>

<div class="button-wrapper">
  <button (click)="openDeleteDialog()" class="action_button">
    Удалить Юзера
    <mat-icon>delete</mat-icon>
  </button>

  <button (click)="openEditDialog()" class="action_button">
    Редактировать Юзера
    <mat-icon>edit</mat-icon>
  </button>
</div>
