<div class="items">
  <mat-icon matPrefix>person</mat-icon>
  <p red hoverShadow>
    <strong>Имя:</strong> 
    {{ user.name | customUpperCase }}
  </p>
</div>

<div class="items">
  <mat-icon matPrefix>email</mat-icon>
  <p red hoverShadow>
    <strong>Email:</strong> 
    {{ user.email | customUpperCase }}
  </p>
</div>

<div class="items">
  <mat-icon matPrefix>language</mat-icon>
  <p red hoverShadow>
    <strong>Сайт:</strong> 
    {{ user.website | customUpperCase }}
  </p>
</div>

<div class="items">
  <mat-icon matPrefix>business</mat-icon>
  <p red hoverShadow>
    <strong>Компания:</strong> 
    {{ user.company.name }}
  </p>
</div>

<div class="button-wrapper">
  <button  mat-stroked-button class="action_button" (click)="openDeleteDialog()" red hoverShadow>
    Удалить Юзера
    <mat-icon>delete</mat-icon>
  </button>

  <button mat-stroked-button class="action_button" (click)="openEditDialog()" red hoverShadow>
    Редактировать Юзера
    <mat-icon>edit</mat-icon>
  </button>
</div>
