<div class="header">
  <div class="header-left">
      <div class="header-logo">
          <img src="/assets/Frame.svg" alt="логотип сайта">
      </div>
      <nav class="header-nav">
          <div class="header-nav-item">Главная</div>
          <div class="header-nav-item">О компании</div>
          <div class="header-nav-item">Каталог</div>
      </nav>
  </div>

  <div class="header2">
      <div class="header-right">
          <div class="header-phone">
              <img src="/assets/Phone.svg" alt="телефон">
          </div>
          <nav class="header-nav2">
              <div class="header-nav-item2">+7 (965) 084-29-29</div>
              <div class="header-nav-item2">
                  <img src="/assets/Vector.svg" alt="сердце">
              </div>
              <div class="header-nav-item2">
                  <img src="/assets/Frame 3.svg" alt="иконка">
              </div>
          </nav>
      </div>
  </div>
</div>

<div class="test_header">
  <div class="header-left_test">
      <div class="header-logo_test">
          <img src="/assets/light.svg" alt="Каталог">
      </div>
      <nav class="header-nav_test">
          <div class="header-nav-item_test">Каталог</div>
          <div class="header-nav-item_test">Стройматериалы</div>
          <div class="header-nav-item_test">Инструменты</div>
          <div class="header-nav-item_test">Электрика</div>
          <div class="header-nav-item_test">Интерьер и одежда</div>
      </nav>   
  </div>
<div>  

  <div> 
      <nav class="header-nav-search_map">
        <div class="search">
          <input type="text" placeholder="Поиск, например Круг зачистной">
          <img src="/assets/Mask group.svg" alt="поиск" class="icon">
        </div>
        <div class="header-nav-item_test1">
          <img src="/assets/map-pin (2) 1.svg" alt="карта">
        </div>
        <div class="header-nav-item_test-1">Москва</div>
      </nav>
  </div>