<div class="header">
  <div class="header-left">
      <div class="header-logo">
          <img src="\assets\Logo.svg" alt="логотип сайта">
      </div>
      <nav class="header-nav">
          <a href="/Home" class="header-nav-item">Главная</a>
          <a href="/Aboutthecompany" class="header-nav-item">О компании</a>
          <a href="/Catalog" class="header-nav-item">Каталог</a>
      </nav>
  </div>

  <div class="header2">
      <div class="header-right">
          <nav class="header-nav2">
              <a href="tel:+79650842929" class="phone-logo">
                  <img src="\assets\Phone.svg" alt="Телефон"></a>
                  <a href="tel:+79650842929" class="phone-link">+7 (965) 084-29-29</a>
                  <a href="/favorites" class="header-nav-item2">
                      <img src="\assets\Heart.svg" alt="Избранное"></a>
                  <a href="/shoppingcart" class="header-nav-item2">
                  <img src="\assets\Basket.svg" alt="Корзина"></a>
          </nav>
      </div>
  </div>
</div>

<div class="test_header">
  <div class="header-left_test">
      <div class="header-logo_test">
          <img src="\assets\catalog.svg" alt="Прочее">
      </div>
      <div class="header-nav_test">
          <button class="header-nav-item_test">Каталог</button>
          <button class="header-nav-item_test">Стройматериалы</button>
          <button class="header-nav-item_test">Инструменты</button>
          <button class="header-nav-item_test">Электрика</button>
          <button class="header-nav-item_test">Интерьер и одежда</button>
        </div>
  </div>
<div>  

  <div> 
      <nav class="header-nav-search_map">
        <div class="search">
          <input type="text" placeholder="Поиск, например Круг зачистной">
          <img src="\assets\search.svg" alt="поиск" class="icon">
        </div>
        <div class="header-nav-item_location">
              <img src="\assets\Location.svg" alt="Карта">
              <span>Москва</span>
        </div>
      </nav>
  </div>