<div class="header"> 
  <div class="header-left">
    <div class="header-logo">
      <img src="/assets/Logo.svg" alt="логотип сайта">
    </div>
    <nav class="header-nav">
      <a href="/Home" class="header-nav-item">{{headerItem1}}</a>
      <a href="/Aboutthecompany" class="header-nav-item">{{aboutCompany}}</a>
      <a href="/Catalog" class="header-nav-item" *ngIf="isShowCatalog">{{headerItem3}}</a>
    </nav>
    <button (click)="isShowCatalog = !isShowCatalog">Скрыть/Показать каталог</button>
    <button (click)="changeMenuText()">Изменить текст</button>
  </div>

  <div class="header2">
    <div class="header-right">
      <nav class="header-nav2">
        <a href="tel:+79650842929" class="phone-logo">
          <img src="/assets/Phone.svg" alt="Телефон">
        </a>
        <a href="tel:+79650842929" class="phone-link">+7 (965) 084-29-29</a>
        <a href="/favorites" class="header-nav-item2">
          <img src="/assets/Heart.svg" alt="Избранное">
        </a>
        <a href="/shoppingcart" class="header-nav-item2">
          <img src="/assets/Basket.svg" alt="Корзина">
        </a>
      </nav>
    </div>
  </div>
</div> 

<div class="test_header">
  <div class="header-left_test">
    <div class="header-logo_test">
      <img src="/assets/catalog.svg" alt="Прочее">
    </div>
    <nav class="header-nav_test">
      <div *ngFor="let item of menuItems" class="header-nav-item_test">{{item}}</div>
    </nav>
  </div>
<div> 
  <nav class="header-nav-search_map">
    <div class="search">
      <input type="text" placeholder="Поиск, например Круг зачистной">
      <img src="/assets/search.svg" alt="поиск" class="icon">
    </div>
    <div class="header-nav-item_location">
      <img src="/assets/Location.svg" alt="Карта">
      <span>Москва</span>
    </div>
  </nav>
</div>
</div>

<div>
  <button (click)="isShowImg=!isShowImg">
    Скрыть/Показать мужика
  </button>
</div>  

<div class="image_wrapper" *ngIf="isShowImg">
  <img src="/assets/Head_image.png" alt="background-large">
</div>

<div class="headimage-2">
  <img src="/assets/headimage2.png" alt="mini-image">
</div>

<div class="content-container">
  <div class="item-cards">
   <div class="item-cards__pagination">
    <button *ngFor="let item of newPages" class="item-cards__pagination-button active-button">{{item}}</button>
   </div>
      <div class="item-cards__grid">
          <div class="item-cards__grid-left">
            <div class="item-cards__grid-left-text">
              Строительный отделочный инструмент
            </div>
            <div class="item-cards__grid-left-action">
               <span style="margin-right: 10px;">Перейти в каталог</span>
               <a class="item-cards__grid-left-action-link">
                  <img src="/assets/Frame_20.svg" alt="">
               </a>
            </div>
          </div>
          <div class="item-cards__grid-right">
              <div class="item-cards__grid-right-block1">
                <div class="item-cards__grid-right-text1">
                  Эмали
                </div>
                <div class="item-cards__grid-right-action1">
                   <span style="margin-right: 10px;">Перейти в каталог</span>
                   <a class="item-cards__grid-right-action-link">
                      <img src="/assets/Frame_20.svg" alt="">
                   </a>
                </div>
              </div>
              <div class="item-cards__grid-right-block2">
                <div class="item-cards__grid-right-text2">
                  Лакокрасочные материалы
                </div>
                <div class="item-cards__grid-right-action2">
                   <span style="margin-right: 10px;">Перейти в каталог</span>
                   <a class="item-cards__grid-right-action-link">
                      <img src="/assets/Frame_20.svg" alt="">
                   </a>
                </div>
              </div>
              <div class="item-cards__grid-right-block3">
                <div class="item-cards__grid-right-text3">
                Пены, клеи и 
                <br> герметики
                </div>
                <div class="item-cards__grid-right-action3">
                   <span style="margin-right: 10px;">Перейти в каталог</span>
                   <a class="item-cards__grid-right-action-link">
                      <img src="/assets/Frame_20.svg" alt="">
                   </a>
                </div>
              </div>
              <div class="item-cards__grid-right-block4">
                <div class="item-cards__grid-right-text4">
                  Розетки и выключатели
                </div>
                <div class="item-cards__grid-right-action4">
                   <span style="margin-right: 10px;">Перейти в каталог</span>
                   <a class="item-cards__grid-right-action-link">
                      <img src="/assets/Frame_20.svg" alt="">
                   </a>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="content-container_2">
<div class="head-text">
  <div class="left-text">
    <span>Популярные товары</span>
  </div>
  <button class="text-button">Посмотреть все товары</button>
</div>
<div class="item-cards_around">
  <div class="item-cards_around1">
    <div class="top-line">
    <img src="/assets/discounts.svg" alt="discont">
    <button class="heart-item"><img src="/assets/heart_1.svg" alt="Избранное1"></button>
  </div>
  <div class="button-arrow">
    <button class="arrow">
      <img src="/assets/arrow_1.png" alt="arrow_">
    </button>
   </div>
    <div class="text-item">
      <p>Круг зачистной 125х6х22</p>
      <p class="text-item2">Артикул 00004</p>
      <p class="text-items3">Цена за штуку</p>
      <div class="text-price">
        <p class="text-price1">52руб.</p>
        <p class="text-price2">48руб.</p>
      </div>
      <p class="text-number">Количество</p>
    </div>
      <div class="number-basket">
         <div class="button-number">
          <button class="button-number_">-</button>
          <input class="number-input" type="text" value="1">
          <button class="button-number_">+</button>
         </div>
         <div class="button-basket">
          <button class="button-basket_"> В корзину</button>
         </div>
      </div>
  </div>
  <div class="item-cards_around1">
    <div class="top-line">
      <img src="/assets/discounts.svg" alt="discont">
      <button class="heart-item"><img src="/assets/heart_1.svg" alt="Избранное1"></button>
    </div>
    <div class="text-item">
      <p>Круг зачистной 125х6х22</p>
      <p class="text-item2">Артикул 00004</p>
      <p class="text-items3">Цена за штуку</p>
      <div class="text-price">
        <p class="text-price1">52руб.</p>
        <p class="text-price2">48руб.</p>
      </div>
        <p class="text-number">Количество</p>
    </div>
    <div class="number-basket">
      <div class="button-number">
        <button class="button-number_">-</button>
        <input class="number-input" type="text" value="1">
        <button class="button-number_">+</button>
      </div>
      <div class="button-basket">
       <button class="button-basket_"> В корзину</button>
      </div>
   </div>
  </div>
  <div class="item-cards_around1">
    <div class="top-line">
      <img src="/assets/New-items.svg" alt="new" class="news">
      <button class="heart-item"><img src="/assets/heart_1.svg" alt="Избранное1"></button>
    </div>
    <div class="disk">
      <img src="/assets/discounts.svg" alt="discont">
    </div>
    <div class="text-item">
      <p>Круг зачистной 125х6х22</p>
      <p class="text-item2">Артикул 00004</p>
      <p class="text-items3">Цена за штуку</p>
      <div class="text-price">
        <p class="text-price1">52руб.</p>
        <p class="text-price2">48руб.</p>
      </div>
      <p class="text-number">Количество</p>
    </div>
    <div class="number-basket">
      <div class="button-number">
        <button class="button-number_">-</button>
        <input class="number-input" type="text" value="1">
        <button class="button-number_">+</button>
      </div>
      <div class="button-basket">
       <button class="button-basket_"> В корзину</button>
      </div>
   </div>
  </div>
  <div class="item-cards_around1">
    <div class="top-line">
      <img src="/assets/New-items.svg" alt="new">
      <button class="heart-item"><img src="/assets/heart_1.svg" alt="Избранное1"></button>
    </div>
    <div class="button-arrow">
      <button class="arrow2">
        <img src="/assets/arrow_2.png" alt="arrow_">
      </button>
     </div>
    <div class="text-item">
      <p>Круг зачистной 125х6х22</p>
      <p class="text-item2">Артикул 00004</p>
      <p class="text-items3">Цена за штуку</p>
      <div class="text-price">
        <p class="text-price1">52руб.</p>
        <p class="text-price2">48руб.</p>
      </div>
      <p class="text-number">Количество</p>
    </div>
    <div class="number-basket">
      <div class="button-number">
        <button class="button-number_">-</button>
        <input class="number-input" type="text" value="1">
        <button class="button-number_">+</button>
      </div>
      <div class="button-basket">
       <button class="button-basket_"> В корзину</button>
      </div>
   </div>
  </div>
</div>
</div>

<div class="content_image">
<div class="background">
  <div class="big-text"><span>БОЛЕЕ 10 000 НАИМЕНОВАНИЙ</span></div>
  <div class="text-inst"><span>Инструмент для вашего бизнеса, разнообразных марок</span></div>
  <div class="catalog-click"><button class="button-catalog">Перейти в каталог</button></div>
</div>
<div class="worker">
 <img src="/assets/Worker.png">
</div>
</div>

<div class="content-container_last">
<div class="head-text">
  <div class="left-text">
    <span>Новинки</span>
  </div>
  <button class="text-button">Посмотреть все товары</button>
</div>
<div class="item-cards_around">
  <div class="item-cards_around1">
    <div class="top-line">
      <img src="/assets/New-items.svg" alt="new" class="news">
    <button class="heart-item"><img src="/assets/heart_1.svg" alt="Избранное1"></button>
  </div>
    <div class="text-item">
      <p>Круг зачистной 125х6х22</p>
      <p class="text-item2">Артикул 00004</p>
      <p class="text-items3">Цена за штуку</p>
      <div class="text-price">
        <p class="text-price_1">52руб.</p>
      </div>
      <p class="text-number">Количество</p>
    </div>
      <div class="number-basket">
         <div class="button-number">
          <button class="button-number_">-</button>
          <input class="number-input" type="text" value="1">
          <button class="button-number_">+</button>
         </div>
         <div class="button-basket">
          <button class="button-basket_"> В корзину</button>
         </div>
      </div>
  </div>
  <div class="item-cards_around1">
    <div class="top-line">
      <img src="/assets/New-items.svg" alt="new" class="news">
      <button class="heart-item"><img src="/assets/heart_1.svg" alt="Избранное1"></button>
    </div>
    <div class="text-item">
      <p>Круг зачистной 125х6х22</p>
      <p class="text-item2">Артикул 00004</p>
      <p class="text-items3">Цена за штуку</p>
      <div class="text-price">
        <p class="text-price_1">52руб.</p>
      </div>
        <p class="text-number">Количество</p>
    </div>
    <div class="number-basket">
      <div class="button-number">
        <button class="button-number_">-</button>
        <input class="number-input" type="text" value="1">
        <button class="button-number_">+</button>
      </div>
      <div class="button-basket">
       <button class="button-basket_"> В корзину</button>
      </div>
   </div>
  </div>
  <div class="item-cards_around1">
    <div class="top-line">
      <img src="/assets/New-items.svg" alt="new" class="news">
      <button class="heart-item"><img src="/assets/heart_1.svg" alt="Избранное1"></button>
    </div>
    <div class="text-item">
      <p>Круг зачистной 125х6х22</p>
      <p class="text-item2">Артикул 00004</p>
      <p class="text-items3">Цена за штуку</p>
      <div class="text-price">
        <p class="text-price_1">52руб.</p>
      </div>
      <p class="text-number">Количество</p>
    </div>
    <div class="number-basket">
      <div class="button-number">
        <button class="button-number_">-</button>
        <input class="number-input" type="text" value="1">
        <button class="button-number_">+</button>
      </div>
      <div class="button-basket">
       <button class="button-basket_"> В корзину</button>
      </div>
   </div>
  </div>
  <div class="item-cards_around1">
    <div class="top-line">
      <img src="/assets/New-items.svg" alt="new">
      <button class="heart-item"><img src="/assets/heart_1.svg" alt="Избранное1"></button>
    </div>
    <div class="text-item">
      <p>Круг зачистной 125х6х22</p>
      <p class="text-item2">Артикул 00004</p>
      <p class="text-items3">Цена за штуку</p>
      <div class="text-price">
        <p class="text-price_1">52руб.</p>
      </div>
      <p class="text-number">Количество</p>
    </div>
    <div class="number-basket">
      <div class="button-number">
        <button class="button-number_">-</button>
        <input class="number-input" type="text" value="1">
        <button class="button-number_">+</button>
      </div>
      <div class="button-basket">
       <button class="button-basket_"> В корзину</button>
      </div>
   </div>
  </div>
</div>
</div>